//全局變量
@sidenavWidth: 220px;
@smallScreenBoundary: 550px;
@smallestContentWidth: 300px;
@transitionCurve: .5s cubic-bezier(.55,0,.1,1);
@transitionCurveFast: .2s cubic-bezier(.55,0,.1,1);
@transitionCurveFaster: .1s cubic-bezier(.55,0,.1,1);