@import "define.less";

//函數
.setSize(@height: 100%,@width: 100%) {
    height: @height;
    width: @width;
}

.transform(@_) {
    -webkit-transform+_: @_;
    -moz-transform+_: @_;
    -ms-transform+_: @_;
    -o-transform+_: @_;
    transform+_: @_;
}
.transition(@_; @target: all) {
    -webkit-transition: @target @_;
    -moz-transition: @target @_;
    -o-transition: @target @_;
    transition: @target @_;
}
.box-shadow(@_) {
    -webkit-box-shadow: @_;
    -moz-box-shadow: @_;
    box-shadow: @_;
}
.bgc(@_) when (iscolor(@_)) {
    //background-color: @_;
}
.bgc(@_) when (isnumber(@_)) {
    //background-color: rgba(0,0,0,@_);
}

//通用類
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.divider {
    background-color: #bbb;
    display: block;
    overflow: hidden;
    .setSize(1px);
    margin: 8px 0;
}

.general-bg {
    //box-shadow: 0 0 5px 0 rgba(0, 34, 68, 0.05);
    .box-shadow(@generalBoxShadow);
    background: rgba(238, 252, 254, 0.2);
    
    border-radius: 2px;
}
.general-bg-deeper {
    //box-shadow: 0 0 10px 0 rgba(0, 34, 68, 0.07);
    .box-shadow(@generalBoxShadowDeep);
    background: rgba(238, 252, 254, 0.3);
    border-radius: 2px;
}
.general-form {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    //box-shadow: 0 0 0 1px #7700AA;
    box-sizing: border-box;
    th, tr, td {
        line-height: 24px;
        box-sizing: border-box;
    }
    td {
        border: 1px solid rgb(204,212,217);
        //: 0 0 0 1px #7700AA44;
        //.transition(@transitionCurveFast);
    }
    
    .column1-20 {
        width: 5%;
    }
    .column2-20 {
        width: 10%;
    }
    .column3-20 {
        width: 15%;
    }
    .column4-20 {
         width: 20%;
     }
    .column5-20 {
        width: 25%;
    }
    .column6-20 {
        width: 30%;
    }
    .column8-20 {
        width: 40%;
    }
    .column10-20 {
        width: 50%;
    }
    .min-width30 {
        min-width: 30px;
    }
    .min-width45 {
        min-width: 45px;
    }
    .min-width60 {
        min-width: 60px;
    }
    .min-width90 {
        min-width: 90px;
    }
}

.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-22 {
    font-size: 22px;
}
.font-64 {
    font-size: 64px;
}
.font-0p9em {
    font-size: 0.9em;
}
.font-0p85em {
    font-size: 0.85em;
}
.text-align-left {
    text-align: left;
}
.line-height1em {
    line-height: 0;
}

/* hl means highlight */
.hl-font-red {
    color: #C00000;
}
.hl-font-green {
    color: #00A000;
}
.hl-font-blue {
    color: #0000C0;
}
.hl-font-yellow {
    color: #C0A000;
}
.hl-font-purple {
    color: #A000C0;
}
.hl-font-cyan {
     color: #70C0C0;
 }
.hl-font-gray {
    color: #a0a0a0;
}

.alphabet {
    font-family: Verdana, "Charis SIL", Helvetica, Century, Arial, Serif;
}





//邊欄
#sidenav {
    position: fixed;
    //.setSize(@width: 0);
    .setSize(@width: @sidenavWidth);
    min-width: @sidenavWidth;
    .bgc(#70a);
    background-color: #ffffff;
    z-index: 10;
    display: block;
    cursor: default;
    .box-shadow(0 0 0 0 rgba(0,0,0,0));
    .transform(translate3d(-@sidenavWidth,0,0));
    .transition(@transitionCurve);
    
    &.open {
        //width: @sidenavWidth;
        //min-width: @sidenavWidth;
        .transform(translate3d(0,0,0));
        .box-shadow(0 0 25px 0 rgba(0,0,0,0.1));
    }
    
    &-head {
        .setSize(160px);
        .bgc(#047);
        background-color: #f0f0f0;
        //color: #fff;
        color: #001020;
        line-height: 25px;
        font-size: 25px;
        text-align: center;
        padding-top: 60px;
        box-sizing: border-box;
    }
    
    &-list {
        line-height: 24px;
        .sidenav-link {
            list-style-type: none;
            display: block;
            .bgc(#f70);
            
            .transition(@transitionCurveFast);
            
            &:hover {
                .bgc(#fa0);
                background-color: #e0e0e0;
                a {
                    cursor: default;
                    color: #500;
                }
            }
            
            a {
                display: block;
                line-height: 3pc;
                text-decoration: none;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 0 3pc;
                color: #333;
            }
        }
        
        .sidenav-info {
            &:after {
                .transition(@transitionCurveFast);
                display: block;
                height: 0;
                overflow: hidden;
                white-space: pre;
                text-align: center;
                color:#444444;
                font-size:0.6em;
                line-height: 1.2em;
            }
            
            &:hover:after {
                height: 9em;
            }
        }
    }
}

.sidenav-show-btn,
.sidenav-hide-btn {
    display: block;
    .setSize(48px, 48px);
    position: fixed;
    outline: none;
    border-radius: 100%;
    .transition(@transitionCurveFast);
    background-color: rgba(0,0,0,0);
    color: #18d;
    &:hover {
        color: #444;
        background-color: #C0D0E0FF;
    }
}

.sidenav-show-btn {
    
    top: 50px;
    left: 50px;
    
    &:after {
        content: '≡';
        font-size: 30px;
    }
}

.sidenav-hide-btn {
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    z-index: 9;
    opacity: 0;
    background-color: #000;
    .transition(@transitionCurve);
    
    &.active {
        visibility: visible;
        opacity: 0.5;
    }
}



//通用基础页面
* {
    padding: 0;
    margin: 0;
}
input, button {
    outline: none;
    border: none;
}

html, body {
    height: 100%;
}

body {
    font-family: "Han Sans TC", "Hiragino Sans GB", "Microsoft JhengHei UI", "Microsoft YaHei UI","Times New Roman", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: black;
    background-color: aliceblue;
}

#wrapper {
    .bgc(#0aa);
    min-height: 100%;
}

#container {
    flex: 1;
    max-width: 1000px;
    margin: 0 auto 50px auto;
    padding: 0 50px;
    .bgc(#0a7);
    min-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    @media screen and (max-width: @smallScreenBoundary) {
        padding: 0 10px;
    }
    @media screen and (max-width: 350px) {
        width: 350px;
    }
    
}


#searching {
    max-width: 700px;
    padding: 0 100px;
    margin: 110px auto 0 auto;
    @media screen and (max-width: 600px) {
        padding: 0;
        width: @smallestContentWidth;
    }
    
    form#inputForm {
        width: 100%;
    }
    #inputText, #inputButton {
        height: 36px;
        font-size: 20px;
        text-align: center;
        float: left;
        .transition(@transitionCurveFast);
        &:hover, &:focus {
            background-color: rgba(128,196,255,0.5);
        }
    }
    #inputText {
        width: 72.5%;
    }
    .text-invalid {
        background-color: rgba(255,0,64,0.75) !important;
        &:hover, &:focus {
            background-color: rgba(255,64,128,0.75) !important;
        }
    }
    #inputButton {
        margin-left: 5%;
        width: 22.5%;
    }
    
    #inputCheck {
        text-align: center;
        
        label {
            margin-top: 10px;
            padding: 3px 5px;
            display: inline-block;
            border-radius: 2px;
            font-size: 16px;
            .transition(@transitionCurveFast);
            &:hover {
                background-color: #C0E0FA;
            }
        }
    }
    
    input[type="checkbox"] {
        position: relative;
        height: 12px;
        width: 24px;
        vertical-align: center;
        margin-right: 1px;
    }
    input[type="checkbox"]:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #dddddd;
        width: 100%;
        height: 100%;
        border: none;
        .transition(@transitionCurve);
    }
    input[type="checkbox"]:checked:before {
        background-color: #37B048;
    }
    input[type="checkbox"]:disabled:before {
        background-color: #777777;
    }
}