@import "general.less";

//查字頁
#charaSimToTrad {
    margin-bottom: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    font-size: 18px;
    .bgc(lawngreen);
}
#charaSimToTrad span {
    margin: auto;
}
#charaSimToTradHead {
    width: 100px;
}
#charaSimToTradMain {
    width: calc(100% - 100px) ;
    padding-right: 100px;
    .bgc(violet);
}


#wanshyuResult {
    float: left;
    width: 100%;
    ///*background: crimson;*/
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    #charaHead {
        width: 150px;
        /*height: 150px;*/
        float: left;
        .bgc(blueviolet);
        .box-shadow(@generalBoxShadow);
        
        @media screen and (max-width: 830px) {
            float: none;
            margin: auto;
        }
    
        #charaHeadSqu {
            width: 100%;
            height: 120px;
            font-size: 100px;
            top: 50px;
            position: relative;
            text-align: center;
            
            .bgc(greenyellow);
        }
        #oldPronounce {
            text-align: center;
            width: 100%;
            height: 20px;
            font-size: 12px;
    
            .bgc(teal);
        }
    }
    
    #wanshyuResultForm {
        width: calc(100% - 175px) ;
        float: right;
        line-height: 26px;
        .bgc(mediumspringgreen);
        text-align: center;
        .box-shadow(@generalBoxShadow);
        
        @media screen and (max-width: 830px) {
            margin-top: 25px;
            
            width: 100%;
            float: none;
        }
    }
}



#regionalResult {
    width: 100%;
    float: left;
    font-size: 16px;
    .bgc(limegreen);
    
    #regionalResultForm {
        width: calc(100% - 450px) ;
        float: left;
        margin-right: 50px;
        
        .bgc(orangered);
        
        @media screen and (max-width: 1030px) and (min-width: 773px) {
            width: 600px ;
            float: none;
            padding: 0;
            margin: 0 calc(50% - 300px) ;
        }
        @media screen and (max-width: 773px) {
            width: 100%;
            float: none;
            padding: 0;
            margin: 0;
        }
    }
    
    #regionalResultEdit {
        .bgc(blue);
        width: 100%;
        margin-top: 50px;
        /*background: orangered;*/
    }
    #editingText {
        resize:none;
        
    }
    #editingForm {
        /*background: blue;*/
        width: 20%;
        height: 100%;
        border: none;
        padding: 0;
        float: left;
    }
    
    #regionalResultEdit {
        .bgc(blue);
        width: 100%;
        margin-top: 50px;
        /*background: orangered;*/
    }
    #editingText {
        /*background: blue;*/
        resize:none;
        
    }
    #editingForm {
        /*background: blue;*/
        width: 20%;
        height: 100%;
        border: none;
        padding: 0;
        float: left;
    }
    
    .tips {
        position: relative;
        font-size: 0.9em;
        
        &:hover {
            background:none;
    
            .tipsMain {
                filter: opacity(1);
                visibility: visible;
            }
        }
    
        .tipsMain {
            z-index: 1;
            visibility: hidden;
            border-radius: 5px;
            background-color: rgba(68,68,68,0.8);
            padding: 3px;
            color: #FFFFFF;
            position: absolute;
            filter: opacity(0);
            .transition(@transitionCurveFast);
            @media screen and (min-width: 1030px) {
                left: 100% ;
                width: 20em;
            }
            @media screen and (max-width: 1030px) {
                right: calc(50% + 2em) ;
                width: 10em;
            }
        }
    }
    
    
    div[id^="mapContainer"] {
        width: 400px;
        height: 400px;
        display: block;
        margin: auto;
        .bgc(goldenrod);
        //background-color: goldenrod;
        @media screen and (max-width: 1030px) {
            margin-top: 25px;
            width: 100%;
        }
        
        
        .locale-label {
            font-size: 13px;
            color:#ffffff;
            text-align : center;
            min-width: 4em;
            background-color: rgba(0,0,0,0.5);
            line-height : 18px;
            position: relative;
            top: 2.5em;//要不然会偏上1em
        }
        .label-triangle {
            top: -12px;
            position: absolute;
            .setSize(0,0);
            border: 6px solid;
            left: 5px;
            border-color: transparent transparent rgba(0,0,0,0.5) transparent;
            
        }
    }
}