.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.divider {
  background-color: #bbb;
  display: block;
  overflow: hidden;
  height: 1px;
  width: 100%;
  margin: 8px 0;
}
.general-bg {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background: rgba(238, 252, 254, 0.2);
  border-radius: 2px;
}
.general-bg-deeper {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background: rgba(238, 252, 254, 0.3);
  border-radius: 2px;
}
.general-form {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}
.general-form th,
.general-form tr,
.general-form td {
  line-height: 24px;
  box-sizing: border-box;
}
.general-form td {
  border: 1px solid #ccd4d9;
}
.general-form .column1-20 {
  width: 5%;
}
.general-form .column2-20 {
  width: 10%;
}
.general-form .column3-20 {
  width: 15%;
}
.general-form .column4-20 {
  width: 20%;
}
.general-form .column5-20 {
  width: 25%;
}
.general-form .column6-20 {
  width: 30%;
}
.general-form .column8-20 {
  width: 40%;
}
.general-form .column10-20 {
  width: 50%;
}
.general-form .min-width30 {
  min-width: 30px;
}
.general-form .min-width45 {
  min-width: 45px;
}
.general-form .min-width60 {
  min-width: 60px;
}
.general-form .min-width90 {
  min-width: 90px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-22 {
  font-size: 22px;
}
.font-64 {
  font-size: 64px;
}
.font-0p9em {
  font-size: 0.9em;
}
.font-0p85em {
  font-size: 0.85em;
}
.text-align-left {
  text-align: left;
}
.line-height1em {
  line-height: 0;
}
/* hl means highlight */
.hl-font-red {
  color: #C00000;
}
.hl-font-green {
  color: #00A000;
}
.hl-font-blue {
  color: #0000C0;
}
.hl-font-yellow {
  color: #C0A000;
}
.hl-font-purple {
  color: #A000C0;
}
.hl-font-cyan {
  color: #70C0C0;
}
.hl-font-gray {
  color: #a0a0a0;
}
.alphabet {
  font-family: Verdana, "Charis SIL", Helvetica, Century, Arial, Serif;
}
#sidenav {
  position: fixed;
  height: 100%;
  width: 220px;
  min-width: 220px;
  background-color: #ffffff;
  z-index: 10;
  display: block;
  cursor: default;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transform: translate3d(-220px, 0, 0);
  -moz-transform: translate3d(-220px, 0, 0);
  -ms-transform: translate3d(-220px, 0, 0);
  -o-transform: translate3d(-220px, 0, 0);
  transform: translate3d(-220px, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
#sidenav.open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}
#sidenav-head {
  height: 160px;
  width: 100%;
  background-color: #f0f0f0;
  color: #001020;
  line-height: 25px;
  font-size: 25px;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
}
#sidenav-list {
  line-height: 24px;
}
#sidenav-list .sidenav-link {
  list-style-type: none;
  display: block;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
#sidenav-list .sidenav-link:hover {
  background-color: #e0e0e0;
}
#sidenav-list .sidenav-link:hover a {
  cursor: default;
  color: #500;
}
#sidenav-list .sidenav-link a {
  display: block;
  line-height: 3pc;
  text-decoration: none;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 3pc;
  color: #333;
}
#sidenav-list .sidenav-info:after {
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  display: block;
  height: 0;
  overflow: hidden;
  white-space: pre;
  text-align: center;
  color: #444444;
  font-size: 0.6em;
  line-height: 1.2em;
}
#sidenav-list .sidenav-info:hover:after {
  height: 9em;
}
.sidenav-show-btn,
.sidenav-hide-btn {
  display: block;
  height: 48px;
  width: 48px;
  position: fixed;
  outline: none;
  border-radius: 100%;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  background-color: rgba(0, 0, 0, 0);
  color: #18d;
}
.sidenav-show-btn:hover,
.sidenav-hide-btn:hover {
  color: #444;
  background-color: #C0D0E0FF;
}
.sidenav-show-btn {
  top: 50px;
  left: 50px;
}
.sidenav-show-btn:after {
  content: '≡';
  font-size: 30px;
}
.sidenav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  background-color: #000;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidenav-overlay.active {
  visibility: visible;
  opacity: 0.5;
}
* {
  padding: 0;
  margin: 0;
}
input,
button {
  outline: none;
  border: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Han Sans TC", "Hiragino Sans GB", "Microsoft JhengHei UI", "Microsoft YaHei UI", "Times New Roman", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: black;
  background-color: aliceblue;
}
#wrapper {
  min-height: 100%;
}
#container {
  flex: 1;
  max-width: 1000px;
  margin: 0 auto 50px auto;
  padding: 0 50px;
  min-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
@media screen and (max-width: 550px) {
  #container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 350px) {
  #container {
    width: 350px;
  }
}
#searching {
  max-width: 700px;
  padding: 0 100px;
  margin: 110px auto 0 auto;
}
@media screen and (max-width: 600px) {
  #searching {
    padding: 0;
    width: 300px;
  }
}
#searching form#inputForm {
  width: 100%;
}
#searching #inputText,
#searching #inputButton {
  height: 36px;
  font-size: 20px;
  text-align: center;
  float: left;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
#searching #inputText:hover,
#searching #inputButton:hover,
#searching #inputText:focus,
#searching #inputButton:focus {
  background-color: rgba(128, 196, 255, 0.5);
}
#searching #inputText {
  width: 72.5%;
}
#searching .text-invalid {
  background-color: rgba(255, 0, 64, 0.75) !important;
}
#searching .text-invalid:hover,
#searching .text-invalid:focus {
  background-color: rgba(255, 64, 128, 0.75) !important;
}
#searching #inputButton {
  margin-left: 5%;
  width: 22.5%;
}
#searching #inputCheck {
  text-align: center;
}
#searching #inputCheck label {
  margin-top: 10px;
  padding: 3px 5px;
  display: inline-block;
  border-radius: 2px;
  font-size: 16px;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
#searching #inputCheck label:hover {
  background-color: #C0E0FA;
}
#searching input[type="checkbox"] {
  position: relative;
  height: 12px;
  width: 24px;
  vertical-align: center;
  margin-right: 1px;
}
#searching input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dddddd;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
#searching input[type="checkbox"]:checked:before {
  background-color: #37B048;
}
#searching input[type="checkbox"]:disabled:before {
  background-color: #777777;
}
#charaSimToTrad {
  margin-bottom: 25px;
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  font-size: 18px;
}
#charaSimToTrad span {
  margin: auto;
}
#charaSimToTradHead {
  width: 100px;
}
#charaSimToTradMain {
  width: calc(100% - 100px);
  padding-right: 100px;
}
#wanshyuResult {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}
#wanshyuResult #charaHead {
  width: 150px;
  /*height: 150px;*/
  float: left;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 830px) {
  #wanshyuResult #charaHead {
    float: none;
    margin: auto;
  }
}
#wanshyuResult #charaHead #charaHeadSqu {
  width: 100%;
  height: 120px;
  font-size: 100px;
  top: 50px;
  position: relative;
  text-align: center;
}
#wanshyuResult #charaHead #oldPronounce {
  text-align: center;
  width: 100%;
  height: 20px;
  font-size: 12px;
}
#wanshyuResult #wanshyuResultForm {
  width: calc(100% - 175px);
  float: right;
  line-height: 26px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 830px) {
  #wanshyuResult #wanshyuResultForm {
    margin-top: 25px;
    width: 100%;
    float: none;
  }
}
#regionalResult {
  width: 100%;
  float: left;
  font-size: 16px;
  margin-top: 25px;
}
#regionalResult #regionalResultForm {
  width: calc(100% - 450px);
  float: left;
  margin-right: 50px;
}
@media screen and (max-width: 1030px) and (min-width: 773px) {
  #regionalResult #regionalResultForm {
    width: 600px ;
    float: none;
    padding: 0;
    margin: 0 calc(50% - 300px);
  }
}
@media screen and (max-width: 773px) {
  #regionalResult #regionalResultForm {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
  }
}
#regionalResult #regionalResultEdit {
  width: 100%;
  margin-top: 50px;
  /*background: orangered;*/
}
#regionalResult #editingText {
  resize: none;
}
#regionalResult #editingForm {
  /*background: blue;*/
  width: 20%;
  height: 100%;
  border: none;
  padding: 0;
  float: left;
}
#regionalResult #regionalResultEdit {
  width: 100%;
  margin-top: 50px;
  /*background: orangered;*/
}
#regionalResult #editingText {
  /*background: blue;*/
  resize: none;
}
#regionalResult #editingForm {
  /*background: blue;*/
  width: 20%;
  height: 100%;
  border: none;
  padding: 0;
  float: left;
}
#regionalResult .tips {
  position: relative;
  text-decoration: underline;
}
#regionalResult .tips:hover {
  background: none;
}
#regionalResult .tips:hover .tipsMain {
  filter: opacity(1);
  visibility: visible;
}
#regionalResult .tips .tipsMain {
  z-index: 1;
  visibility: hidden;
  border-radius: 5px;
  background-color: rgba(68, 68, 68, 0.7);
  padding: 2px;
  color: #FFFFFF;
  position: absolute;
  filter: opacity(0);
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
@media screen and (min-width: 1030px) {
  #regionalResult .tips .tipsMain {
    left: 100% ;
    width: 20em;
  }
}
@media screen and (max-width: 1030px) {
  #regionalResult .tips .tipsMain {
    right: calc(50% + 2em);
    width: 10em;
  }
}
#regionalResult div[id^="mapContainer"] {
  width: 400px;
  height: 350px;
  display: block;
  margin: auto;
}
@media screen and (max-width: 1030px) {
  #regionalResult div[id^="mapContainer"] {
    margin-top: 25px;
    width: 100%;
  }
}
#regionalResult div[id^="mapContainer"] .locale-label {
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  min-width: 4em;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 18px;
  position: relative;
  top: 2.5em;
}
#regionalResult div[id^="mapContainer"] .label-triangle {
  top: -12px;
  position: absolute;
  height: 0;
  width: 0;
  border: 6px solid;
  left: 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}
