body {
    font-family: Han Sans TC, Hiragino Sans GB, Microsoft JhengHei UI, sans-serif, "Microsoft YaHei UI";
    font-size: 16px;
    color: black;
    padding: 0;
    margin: 0;
    background: aliceblue;
}
@media screen and (max-width: 530px) and (min-width: 461px){
    body {
        font-size: 14px;
    }
}
@media screen and (max-width: 460px) {
    body {
        font-size: 13px;
    }
}

.wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

}
@media screen and (max-width: 450px) {
    .wrapper {
        width: 450px;
    }
}

.leftNavBar {
    background: #2F5597;
    color: white;

    width: 100%;
    padding: 0;

    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translate3d(0, 0, 0);
    box-shadow: 1px 0 10px 0 #2F5597;
    z-index: 1;
}

.leftNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.leftNavBar ul li {
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(0, 34, 68, 0.05);
}
.leftNavBar ul li a {
    color: white;
    height: 100%;
    display: flex;
    text-decoration: none;

}

.leftNavBar ul li a:visited {
}
.leftNavBar ul li a:not(.bottom) {
}

.leftNavBar ul li.topLOGO {
    position: relative;
    background: #4472C4;
    height: 150px;
    margin: 0;
    display: flex;
    z-index: 10;
}
.leftNavBar ul li span {
    margin: auto;
    line-break: anywhere;
}
.leftNavBar ul li:not(.topLOGO):not(.bottom) {
    position: relative;
    height: 50px;
    font-size: 18px;
}
.leftNavBar ul li:not(.topLOGO):not(.bottom) span {
    padding: 10px 0;
    /*我无法理解为什么大于11px就会出问题*/
}
.leftNavBar ul li.bottom {
    height: 25px;
    position: absolute;
    font-size: 14px;
}
.leftNavBar ul li.bottom1 {
    bottom: 25px;
    background: #32579A;
    z-index: 2;
}
.leftNavBar ul li.bottom0 {
    bottom: 0;
    background: #355CA3;
    z-index: 3;
}
@media screen and (max-height: 450px) {
    .leftNavBar ul li.bottom {
        position: relative;
    }
    .leftNavBar ul li.bottom1, .bottom0 {
        bottom: 0;
    }
}

div#highlightRectangle {
    position: absolute;
    top: 150px;
    left: 0 ;
    width: 10px;
    max-width: 20px;
    height: 50px;
    background: lightblue;
    z-index: 7;
}
@media screen and (min-width: 930px) {
    div#highlightRectangle {
        width: 7%;
    }
}

.container {

    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    -webkit-box-flex: 5;
    -moz-box-flex: 5;
    overflow-y: auto;
    text-align: center;
    padding: 0 150px;
    position: relative;
    padding-bottom: 50px;


    background: rgba(181,197,216,0.5);
    background: -moz-radial-gradient(bottom right, ellipse cover, rgba(105,155,200,0.5) 0%, rgba(181,197,216,0.5) 57%);
    background: -webkit-gradient(radial, bottom right 0px, top left, 100%, color-stop(0%,rgba(105,155,200,0.5)), color-stop(57%,rgba(181,197,216,0.5)));
    background: -webkit-radial-gradient(bottom right, ellipse cover, rgba(105,155,200,0.5) 0%,rgba(181,197,216,0.5) 57%);
    background: -o-radial-gradient(bottom right, ellipse cover, rgba(105,155,200,0.5) 0%,rgba(181,197,216,0.5) 57%);
    background: -ms-radial-gradient(bottom right, ellipse cover, rgba(105,155,200,0.5) 0%,rgba(181,197,216,0.5) 57%);
    background: radial-gradient(ellipse at bottom right, rgba(105,155,200,0.5) 0%,rgba(181,197,216,0.5) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );

}
@media screen and (min-width: 1500px) {
    .container {
        padding-left: calc(50% - 600px) ;
        padding-right: calc(50% - 600px) ;
    }
}
@media screen and (max-width: 1200px) and (min-width: 930px) {
    .container {
        padding-left: calc(50% - 450px) ;
        padding-right: calc(50% - 450px) ;
    }
}
@media screen and (max-width: 930px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#toggleLeftNavBar {
    width: 40px;
    height: 40px;
    border: none;
    left: 0;
    top: 50px;
    position: relative;
    float: left;

    z-index: 12;
    border-radius: 5px;
    background: #4472C4;
    font-size: 20px;
    color: white;
}

.container .searching {
    width: calc(100% - 100px) ;
    padding: 0 50px;
    height: 40px;
    margin-top: 110px;

}
.container .searching form {
    height: 100%;
}
.container .searching form .searchingInput {
    width: 80%;
    height: 100%;
    padding: 0;
    font-size: 24px;
    text-align: center;
    border: none;
    float: left;

    /*background: #FFFFFFC0;*/
}
.container .searching form .searchingInput:focus {
    background: rgba(238, 252, 254, 0.6);
}
.container .searching form .searchingButton {
    width: 20%;
    height: 100%;
    border: none;
    padding: 0;
    font-size: 20px;
    float: left;
}
.container .searching form .searchingButton:hover {
    background: rgba(238, 252, 254, 0.5);
}
.container .searching form .searchingButton:active {
    background: rgba(138, 152, 154, 0.5);
}

.container #charaSimToTrad {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;

    /*background: lawngreen;*/
}
.container #charaSimToTrad span {
    margin: auto;
    float: left;
}
.container #charaSimToTradHead {
    width: 100px;
}
.container #charaSimToTradMain {
    width: calc(100% - 100px) ;
    padding-right: 100px;
    font-size: 18px;

    /*background: violet;*/
}


.container #wanshyuResult {
    margin-top: 50px;
    float: left;
    width: 100%;
    /*background: crimson;*/
    text-align: center;
}
.container #wanshyuResult span {
    margin: auto;
    position: relative;

}
.container #wanshyuResult #charaHead {
    width: 150px;
    /*height: 150px;*/
    float: left;
    /*background: blueviolet;*/
    margin-right: 50px;

}
@media screen and (max-width: 830px) {
    .container #wanshyuResult #charaHead {
        float: none;
        margin: auto;
    }
}

.container #wanshyuResult #charaHead #charaHeadSqu {
    width: 100%;
    height: 123px;
    font-size: 100px;
    display: flex;

    /*background: greenyellow;*/
}
.container #wanshyuResult #charaHead #oldPronounce {
    text-align: center;
    width: 100%;
    height: 27px;
    font-size: 12px;
    display: flex;

    /*background: teal;*/
    background: #F0FFFF40;

}


.container #wanshyuResult #wanshyuResultForm {

    width: calc(100% - 200px) ;
    float: left;

    /*background: skyblue;*/

}
@media screen and (max-width: 830px) {
    .container #wanshyuResult #wanshyuResultForm {
        margin-top: 50px;
        width: 100%;
        float: none;
    }
}
.container #wanshyuResult .wanshyuResultBlock {
    width: 100%;
    float: left;

    /*background: mediumspringgreen;*/
}
.container #wanshyuResult .wanshyuResultBlock table {

    width: 100%;
    padding: 0;
}
.container #wanshyuResult .wanshyuResultBlock table td {
    text-align: center;
    line-height: 27px;
    padding: 0;
}
.container #wanshyuResult .wanshyuResultBlock span {
    margin: auto;


}
.container #wanshyuResult .wanshyuResultFormHead {
    width: 50px;
    height: 100%;
    float: left;
    font-size: 22px;
    line-height: 22px;
    display: flex;

    /*background: royalblue;*/
}

.container #wanshyuResult #wanshyuResultFanwan {
    width: calc(100% - 50px) ;
    float: right;
    line-height: 27px;

    /*background: hotpink;*/
}

.container #wanshyuResult #wanshyuResultYingwaa {
    width: calc(100% - 50px) ;
    float: right;
    line-height: 27px;

    /*background: plum;*/
}

.container #regionalResult {
    margin-top: 50px;
    /*margin-bottom: 50px;*/
    width: 100%;
    float: left;
    font-size: 16px;
    /*background: limegreen;*/
}

.container #regionalResult table {
    width: 100%;
    padding: 0;
}
.container #regionalResult table td {
    text-align: center;
    line-height: 27px;
    width: 25%;
}

.container #regionalResult #regionalResultForm {
    width: calc(100% - 450px) ;
    float: left;
    margin-right: 50px;

    /*background: orangered;*/
}
@media screen and (max-width: 930px) and (min-width: 531px) {
    .container #regionalResult #regionalResultForm {
        width: 400px ;
        float: none;
        padding: 0;
        margin: 0 calc(50% - 200px) 50px calc(50% - 200px) ;
    }
}
@media screen and (max-width: 530px) {
    .container #regionalResult #regionalResultForm {
        width: 100%;
        float: none;
        padding: 0;
        margin: 0 0 50px 0;
    }
}


.container #regionalResult #regionalResultMap {
    width: 400px;
    height: 400px;
    font-size: 50px;
    float: left;
    display: flex;

    /*background: goldenrod;*/
}
@media screen and (max-width: 930px) {
    .container #regionalResult #regionalResultMap {
        float: none;
        margin: auto;
    }
}
@media screen and (max-width: 530px) {
    .container #regionalResult #regionalResultMap {
        width: 100%;
        float: none;
        margin: auto;
    }
}





.generalBg {
    box-shadow: 0 0 5px 0 rgba(0, 34, 68, 0.05);
    background: rgba(238, 252, 254, 0.2);

    border-radius: 2px;
}
.generalBgDeeper {
    box-shadow: 0 0 10px 0 rgba(0, 34, 68, 0.07);
    background: rgba(238, 252, 254, 0.3);

    border-radius: 2px;
}
.generalForm, .generalForm th, tr, td {
    border-collapse: collapse;
}
.generalForm td {
    box-shadow: 0 0 1px 1px rgba(255,255,255, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255, 0.15);
    -o-box-shadow: 0 0 1px 1px rgba(255,255,255, 0.15);

}